mixin nav(className, items, activeIndx)
	nav(class= className)
		.container
			ul(class= className + "__list")
				each item, indx in items
					li(class=className + "__item " )
						a(href="#" class= className + "__link "+ ((activeIndx == indx) ? className + '__link' + '_active' : ''))= item

mixin accordeon(className, items, activeIndx)
	nav(class= className)
		.container
			ul(class= className + "__list")
				each item, indx in items
					li(class=className + "__item " )
						a(href="#" class= className + "__link "+ ((activeIndx == indx) ? className + '__link' + '_active' : ''))= item
				ul(class= className + "__list")
				each item, indx in items
					li(class=className + "__item " )
						a(href="#" class= className + "__link "+ ((activeIndx == indx) ? className + '__link' + '_active' : ''))= item


mixin color(className, items, activeIndx)
	nav(class= className)
			ul(class= className + "__list")
		each item, indx in items
			li(class=className + "__item " )
				a(href="#" class= className + "__link "+ ((activeIndx == indx) ? className + '__link' + '_active' : ''))= item
		ul(class= className + "__list")
		each item, indx in items
			li(class=className + "__item " )
				a(href="#" class= className + "__link "+ ((activeIndx == indx) ? className + '__link' + '_active' : ''))= item